EP/WebContent/task-2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT students_info (student+)>
<!ELEMENT student (regno,name,email,marks,class,distinction)>
<!ELEMENT regno (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT class (#PCDATA)>
<!ELEMENT distinction (#PCDATA)>